* {
	padding: 0;
	margin: 0;
}

html,body {
	font: 1em "Trebuchet MS", sans-serif;
}

body {
	padding: 3em;
	overflow-x: hidden;
}

#showNextPanel {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 80px;
	font: 14px "Trebuchet MS",sans-serif;
	padding: 8px;
}

#resetBtn {
	position: absolute;
	top: 80px;
	right: 40px;
	width: 80px;
	font: 14px "Trebuchet MS",sans-serif;
	padding: 8px;
}

#viewWindowFalseFrame {
	position: absolute;
	top: 50px;
	left: 50;
	width: 400px;
	height: 400px;
	border: 5px solid orange;
	z-index: 1500;
	/* display: none; */
}

#panelViewer {
	position: relative;
	width: 600px;
	height: 450px;
	margin: 0 auto 0 auto;
	overflow: hidden;
	background-color: black;
	border: 1px solid #333;
}

	#comic {
		position: absolute;
		top: 0px;
		left: 0px;
		/* height: 1200px; */
	}
	.comic-overlay {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 415px;
		height: 266px;
		opacity: 0.5;
		background-color: blue;
		z-index: 1000;
	}
	
.panel {
	color: white;
	border: 2px solid white;
}

.panelHighlight {
	background-color: #00e902;
	border: 3px solid #fff;
}