@import url(http://fonts.googleapis.com/css?family=Patua+One);

/*
font-family: 'Patua One', sans-serif;
*/

* {
	padding: 0;
	margin: 0;
}

html,body {
	font: 1em "Trebuchet MS", sans-serif;
}

body {
	overflow-x: hidden;
	background-color: #777;
}

#logo {
	position: relative;
	width: 355px;
	margin: 25px auto -35px auto;
	z-index: 1000;
}

#shareBar {
	font: 16px 'Patua One', sans-serif;
	/* text-shadow: 1px 1px 1px #777; */
	position: relative;
	width: 780px;
	height: 30px;
	margin: 10px auto 0 auto;
	border-bottom: 1px solid #333;
}
	#shareBar a {
		color: #333;
		text-decoration: none;
	}
	
	#shareBar a:hover {
		text-decoration: underline;
	}
	
	#shareBar div {
		display: inline-block;
	}
	
	.shareLinks {
		margin-top: 6px;	
	}
	
	.shareButtons {
		margin-top: 4px;
		float: right;
	}
	
	.shareButtons div {
		display: inline-block;
	}	

	#shareBar div:last-child {
	
	}

#panelViewer {
	background-color: #c06125;
}

.panelControl {
	position: absolute;
	display: block;
	width: 35px;
	height: 35px;
	top: 245px;
}

.panelControl.left {
	left: 10px;
}

.panelControl.right {
	right: 10px
}

@media only screen and (max-width : 1024px) {

}

@media only screen and (max-width : 700px) {

	#logo {
		padding-top: 20px
	}

	#panelViewer {
		height: 420px;
	}
	
	.panelControl {
		width: 35px;
		height: 35px;
	}

	.panelControl img {
		width: 35px;
		height: 35px;
	}

	.panelControl.right {
		right: 10px;
	}

	#shareBar {
		width: 90%;
		text-align: center;		
	}

	.shareLinks {
		display: block;
		margin-top: 6px auto 0 auto;
		width: 90%;
		text-align: center;
	}

	.shareButtons {
		margin: 10px auto 0 auto;
		float: none;
	}
	
	.shareButtons div {
		display: inline-block;
	}

}